<h2>Nueva pregunta de encuesta </h2>

<%= render "form.html", changeset: @changeset,
                        action: poll_topic_path(@conn, :create)%>

<%= link "Back", to: poll_topic_path(@conn, :index) %>
