<h2>Editar Respuesta</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_poll_answer_path(@conn, :update, @user_poll_answer),user_poll_answer: @user_poll_answer %>

<%= link "Back", to: user_poll_answer_path(@conn, :index_user,@user_poll_answer.user_id) %>
